__pycache__
.pytest_cache/
.coverage
.coverage.*
htmlcov
coverage/
node_modules
dist
*.log
logs
*.log*
.env*.local
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
