from pathlib import Path

from vueda.core.config import TomlEnv, load_toml
from vueda.core.default_settings import get_defaults


ROOT_DIR = Path(__file__).resolve(strict=True).parent.parent.parent
APPS_DIR = ROOT_DIR / "{{ python_package }}"

env = TomlEnv(
    {
        **load_toml(ROOT_DIR / "config.toml"),
        **load_toml(ROOT_DIR / "config.local.toml"),
    }
)

locals().update(get_defaults(env))

