import { defineConfig } from "vite";
import vue from "@vitejs/plugin-vue";
import tailwindcss from "@tailwindcss/vite";
import { vuedaViteConfig } from "@arrai-innovations/vueda/lib/vite.js";

export default defineConfig({
  plugins: [vue(), tailwindcss()],
  ...vuedaViteConfig(),
});

