[project]
name = "{{ project_slug }}-server"
version = "0.1.0"
requires-python = ">=3.11"
dependencies = [
  "vueda[redis] >=3.0.0a2,<4",
  "psycopg[binary] >=3.2.0,<4",
  "gunicorn >=23.0.0,<24",
  "uvicorn[standard] >=0.34.0,<1",
]

[dependency-groups]
dev = [
  "pytest >=7.0.0,<9",
  "pytest-django >=4.0.0,<5",
]
