<html>
<head>
</head>
<body>
    <div>{{models_without_workflow_mixin}}</div>

    <div>
        {% for workflow in workflows %}
          <h1>{{workflow.name}}, {{workflow.app_label}}, {{workflow.model}}</h1>

          <div>Has mixin: {{workflow.has_mixin}}</div>
            <h2>States </h2>
            {% for state in workflow.states %}
                <div>{{state.name}}</div>
                <div>is initial state: {{state.initial_state}}</div>
            {% endfor %}

            <h2>Permission </h2>
            <div>
                {% for permission in permissions.values %}
                    {% if permission.pk in workflow.permission_ids %}
                       <div>{{permission.name}}</div>
                    {% endif %}
                {% endfor %}
            </div>

            <h2>Transitions </h2>
            {% for transition in workflow.transitions %}
                <h3>{{transition.name}}</h3>
                <h4>Permissions:</h4>
                <div>
                {% for permission in permissions.values %}
                    {% if permission.pk in transition.permission_ids %}
                       <div>{{permission.name}}</div>
                    {% endif %}
                {% endfor %}
                </div>
                <br>
                <h4>Source:</h4>
                <div>
                    {% for state in workflow.states %}
                        {% if state.pk in transition.source_ids %}
                           <div>{{state.name}}</div>
                        {% endif %}
                    {% endfor %}
                </div>

                <h4>Target:</h4>
                {% for state in workflow.states %}
                    {% if state.pk == transition.target_id%}
                        <div>{{state.name}}</div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>


</body>
</html>
