<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Source+Sans+Pro&display=swap"
          rel="stylesheet">
    <link href="/static/permissions/overview.css"
          rel="stylesheet">
    <title>Permissions & Groups</title>
</head>
<body>
<div>
    <div class="categories">
        {% for category, apps in categories.items() %}
            <div class="category">
                <div class="sticky sticky-1">
                    <div class="flex">
                        <h1>{{ category }} Permissions</h1>
                        <div class="control">
                            <button class="toggle-historical-models">Toggle historical</button>
                        </div>
                        <div class="control">
                            {{ logout }}
                        </div>
                        <div class="control">
                            <button class="back-to-top">Back to top</button>
                        </div>
                    </div>
                </div>
                <div class="apps">
                    {% for app, models in apps.items() %}
                        <div class="app">
                            <div class="sticky sticky-2">
                                <h2><code>{{ app }}</code></h2>
                            </div>
                            <div class="models">
                                {% for model in models %}
                                    <div class="model{{ ' historic' if model.is_historical else '' }}">
                                        <div class="sticky sticky-3">
                                            <h3><code>{{ model.model_name }}</code></h3>
                                        </div>
                                        <div class="permissions">
                                            {% for permission in model.permissions %}
                                                <div class="permission" data-permission_id="{{ permission.pk }}">
                                                    <div class="permission-info">
                                                        <h4 class="permission-name"><code>{{ permission.codename }}</code><br>{{ permission.name }}</h4>
                                                        <button class="button-action button-add" data-action="add">Add</button>
                                                    </div>
                                                    {% if permission.groups %}
                                                        <div class="groups" data-permission_id="{{ permission.pk }}">
                                                            {% for group_pk, group_name in permission.groups %}
                                                                {% if group_name %}
                                                                    <div class="group" data-group_id="{{ group_pk }}">
                                                                        <div class="group-error"></div>
                                                                        <input class="group-name" type="text" value="{{ group_name }}" placeholder="Group Name">
                                                                        <button class="button-action button-save" data-action="save">Save</button>
                                                                        <button class="button-action button-delete" data-action="delete">X</button>
                                                                    </div>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<script src="/static/permissions/overview.js"></script>
</body>
</html>
