import { createApp } from "vue";
import { createPinia } from "pinia";
import { getRouter } from "./router/index.js";
import TheApp from "./TheApp.vue";

const app = createApp(TheApp);
const pinia = createPinia();
const router = getRouter(app, pinia);

app.use(pinia);
app.use(router);
app.mount("#the-app");

export default app;

