__pycache__
.pytest_cache/
.env*.local
config.local.toml
.coverage
.coverage.*
htmlcov
./staticfiles
media/*
*.pg
node_modules
build/
vueda.egg-info/
dist/

redoc-static.html
schema.yml

.idea
.vscode/*
!.vscode/extensions.json
*.log
