[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Add module dependencies to `requirements.txt`
vueda = {path = ".", editable = true}

[dev-packages]
# lint related, sync with .pre-commit-config.yaml
ruff = "==0.12.2"
# build related
wheel = ">=0.42.0,<1"
django_extensions = "==4.0.0"
django-view-manager = "1.0.4"
coverage = ">=7.3.3"
ipdb = ">=0.13.13"
md-toc = ">=8.2.2"
pre-commit = ">=3.6.0"
pytest = ">=7.4.3"
pytest-cov = ">=4.1.0"
pytest-django = ">=4.7.0"
pytest-json-report = "==1.5.0"
pytest-order = ">=1.2.0"
pytest-sugar = ">=0.9.7"
pytest-xdist = ">=3.5.0"
# test requirements
psycopg = {extras = ["c"], version = ">=3.1.15,<4"}
python-dateutil = ">=2.8.2,<3"
# Workflow / Permissions Views
gunicorn = ">=21.2.0"
jinja2 = ">=3.1.2"
redis = ">=5.2.1"
# API document creation
drf-spectacular = ">=0.28.0,<0.29"

[requires]
python_version = "3.11"
