@import url("./fonts.css");

:root {
  --ink: #0f172a;
  --muted: #475569;
  --paper: #f8fafc;
  --accent: #0ea5e9;

  /*--django-green: #092e20;*/
  /*--vue-green: #41b883;*/
  /*--vue-slate: #34495e;*/
  /*--arrai-blue: #0077f7;*/
  --arrai-blue-1: rgba(0, 99, 209, 1);
  --arrai-blue-2: rgba(0, 119, 247, 1);
  --arrai-blue-3: rgba(31, 79, 163, 1);
  --arrai-blue-soft: rgba(0, 119, 247, 0.16);
  /*--arrai-darkblue: #001c30;*/

  /*--arrai-grey: #e5e5e5;*/

  --vp-font-family-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, monospace;
  --vp-font-family-heading: "Darker Grotesque", ui-sans-serif, system-ui, sans-serif;
  --vp-c-brand-1: var(--arrai-blue-1);
  --vp-c-brand-2: var(--arrai-blue-2);
  --vp-c-brand-3: var(--arrai-blue-3);
  --vp-c-brand-soft: var(--arrai-blue-soft);
}

.dark {
  --arrai-blue-1: rgba(156, 198, 255, 1);
  --arrai-blue-2: rgba(77, 141, 255, 1);
  --arrai-blue-3: rgba(31, 79, 163, 1);
  --arrai-blue-soft: rgba(77, 141, 255, 0.16);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--vp-font-family-heading);
}

pre,
code,
kbd,
samp {
  font-weight: 500;
}
