@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500;600;700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@font-face {
  font-family: "Darker Grotesque";
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
  src: url("./fonts/DarkerGrotesque-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
  src: url("./fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 100 800;
  font-display: swap;
  src: url("./fonts/JetBrainsMono-Italic-VariableFont_wght.ttf") format("truetype");
}
