{% set js_install = "pnpm install" if js_package_manager == "pnpm" else "npm install" if js_package_manager == "npm" else "yarn install" -%}
{% set js_exec = "pnpm exec" if js_package_manager == "pnpm" else "npx --no-install" if js_package_manager == "npm" else "yarn run" -%}
{% set js_run = "pnpm run" if js_package_manager == "pnpm" else "npm run" if js_package_manager == "npm" else "yarn run" -%}
bootstrap:
  cd {% raw %}{{justfile_directory()}}{% endraw %} && {{ js_install }}
  cd {% raw %}{{justfile_directory()}}{% endraw %} && {{ js_exec }} lefthook install
  cd {% raw %}{{justfile_directory()}}{% endraw %} && uv sync --all-groups --all-packages

check:
  cd {% raw %}{{justfile_directory()}}{% endraw %} && {{ js_exec }} concurrently -n server,client -c green,cyan "just check-server" "just check-client"

check-server:
  cd {% raw %}{{justfile_directory()}}{% endraw %}/server && uv run --no-sync ruff check . && uv run --no-sync ruff format --check .

check-client:
  cd {% raw %}{{justfile_directory()}}{% endraw %}/client && {{ js_run }} lint && {{ js_run }} format

fix:
  cd {% raw %}{{justfile_directory()}}{% endraw %} && {{ js_exec }} concurrently -n server,client -c green,cyan "just fix-server" "just fix-client"

fix-server:
  cd {% raw %}{{justfile_directory()}}{% endraw %}/server && uv run --no-sync ruff check --fix . && uv run --no-sync ruff format .

fix-client:
  cd {% raw %}{{justfile_directory()}}{% endraw %}/client && {{ js_run }} eslint && {{ js_run }} prettier

test:
  cd {% raw %}{{justfile_directory()}}{% endraw %} && {{ js_exec }} concurrently -n server,client -c green,cyan "just test-server" "just test-client"

test-server:
  cd {% raw %}{{justfile_directory()}}{% endraw %}/server && uv run --no-sync pytest

test-client:
  cd {% raw %}{{justfile_directory()}}{% endraw %}/client && {{ js_run }} test run

manage *args:
  cd {% raw %}{{justfile_directory()}}{% endraw %}/server && uv run --no-sync python manage.py {% raw %}{{args}}{% endraw %}

serve:
  cd {% raw %}{{justfile_directory()}}{% endraw %} && {{ js_exec }} concurrently -n server,client -c green,cyan "just serve-server" "just serve-client"

serve-server:
  cd {% raw %}{{justfile_directory()}}{% endraw %}/server && uv run --no-sync gunicorn config.asgi -k uvicorn.workers.UvicornWorker --reload --bind {{ bind_ip }}:{{ server_port }}

serve-client:
  cd {% raw %}{{justfile_directory()}}{% endraw %}/client && {{ js_exec }} vite --host {{ bind_ip }} --port {{ client_port }}
