body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.1rem;
    background-color: #101010;
    color: #b0b0b0;
    margin: 0 1rem;
}

code {
    font-family: "JetBrains Mono", monospace;
}

h1,
h2,
h3 {
    font-weight: normal;
    margin: 0;
    padding: 0.5rem 1rem;
}

.sticky > div {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #101010;
}

.controls {
    padding-right: 0.5rem;
    pointer-events: none;
}

.control {
    flex-basis: min-content;
    white-space: nowrap;
    display: flex;
}

form {
    display: inline;
    margin: 0;
}

button {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0.5rem;
    background-color: #0077f6;
    color: #ffffff;
    border: none;
    cursor: pointer;
    pointer-events: all;
}

.button-action {
    padding: 0.1rem 0.5rem;
}

.button-add {
    background-color: #e14a01;
}

.button-save {
    background-color: #080;
}

.button-delete {
    background-color: #800;
}

.dirty .button-save {
    background-color: #880;
    color: #000;
}

.saved .button-save {
    background-color: #080;
}

.erred .button-save {
    background-color: #800;
}

.group-error {
    display: none;
    font-size: 0.9rem;
}

.erred .group-error {
    display: block;
    width: 100%;
    background: #800;
}

h1 {
    flex-grow: 1;
    padding: 0 1rem;
}

h2 {
    background-color: #202020;
    color: #c0c0c0;
}

h3 {
    background-color: #303030;
    color: #d0d0d0;
}

body {
    overflow-y: scroll;
}

.apps {
    background-color: #202020;
    color: #c0c0c0;
}

.models {
    background-color: #303030;
    color: #d0d0d0;
}

.permissions {
    background-color: #404040;
    color: #e0e0e0;
    text-align: center;
}

.permission {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.permission-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0.5rem 1rem;
    gap: 1rem;
    min-width: 350px;
}

.groups {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    text-align: center;
}

.group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-width: 382px;
    align-items: stretch;
}

.somewhere {
    padding: 0.5rem 1rem;
    gap: 1rem;
}

.permission-name {
    flex: 1;
    padding: 0;
    margin: 0;
}

.group-name {
    padding: 0.5rem 1rem;
    flex: 1;
    width: 10px;
    text-align: center;
    font-size: 1rem;
    background-color: #303050;
    border-color: #fefefe;
    color: #f0f0f0;
}

.permission:nth-child(odd) {
    background-color: #484848;
}

.permission:nth-child(odd) .groups {
    background-color: #383858;
}

.sticky {
    position: sticky;
}

.sticky-1 {
    top: 0;
    z-index: 3;
}

.sticky-2 {
    top: 3rem;
    z-index: 2;
}

.sticky-3 {
    top: 6.2rem;
    z-index: 1;
}
