<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Source+Sans+Pro&display=swap"
          rel="stylesheet">
    <link href="/static/forms/forms.css"
          rel="stylesheet">
    <title>Edit {% if head_title %}{{ head_title }}{% else %}{{ title }}{% endif %}</title>
</head>
<body>
{% set has_perm = request.user.has_perm %}
<div class="everything">
    <div class="sticky sticky-1">
        <div>
            <h1>
                Edit {{ title }}
                {% if messages %}
                    {% for message in messages %}
                        <span class="msg {{ message.tags }}">{{ message }}</span>
                    {% endfor %}
                {% endif %}
            </h1>
            <div class="control">
                <button type="submit" form="edit-form" class="button-save">Save</button>
            </div>
            <div class="control">
                {{ workflow_overview }}
            </div>
            <div class="control">
                {{ logout }}
            </div>
            <div class="control">
                <button id="back-to-top" class="button-top">Back to top</button>
            </div>
        </div>
    </div>
    <form method="post" id="edit-form">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div class="formset">
            {{ formset }}
        </div>
        <div class="inlines">
            {% for inline_formset in inline_formsets %}
                {% with class=inline_formset.class, name=inline_formset.name, formset=inline_formset.formset %}
                    {% include "workflow/formset.jinja2" with context %}
                {% endwith %}
                {% if inline_formset.class == 'transition-permissions' and not inline_formset.formset.instance.transition_permissions.exists() %}
                    <div class="formset {{ inline_formset.class }}" data-noinlinetext="{{ inline_formset.model._meta.default_related_name }}">
                        <p>
                            Users won't be able to do this transition unless a transition permission is added.
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </form>
</div>

<script src="/static/forms/forms.js"></script>
</body>
</html>
