<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Source+Sans+Pro&display=swap"
          rel="stylesheet">
    <link href="/static/forms/forms.css"
          rel="stylesheet">
    <title>Workflows (States & Transitions)</title>
</head>
<body>
{% set has_perm = request.user.has_perm %}
<div class="everything">
    {% if models_without_workflow_row or models_without_workflow_mixin %}
        <div class="warnings">
            {% if models_without_workflow_mixin %}
                <p>Warning: The following models have workflow database rows, but the model class is not using <code class="python">HasWorkflowModelMixin</code>.</p>
                <ul class="warning-list">
                    {% for (app_label, model, model_class_name) in models_without_workflow_mixin %}
                        <li><code class="django">{{ app_label }}.{{ model }}</code>&emsp;<code
                                class="python">{{ model_class_name }}</code></li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if models_without_workflow_row %}
                <p>Warning: The following models use <code class="python">HasWorkflowModelMixin</code>, but does not have workflow database rows.</p>
                <ul class="warning-list">
                    {% for (app_label, model, model_class_name) in models_without_workflow_row %}
                        <li><code class="django">{{ app_label }}.{{ model }}</code>&emsp;<code
                                class="python">{{ model_class_name }}</code></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endif %}
    <div class="sticky sticky-1">
        <div>
            <h1>
                Workflows (<span class="state_title">States</span> & <span class="transition_title">Transitions</span>)
                {% if messages %}
                    {% for message in messages %}
                        <span class="msg {{ message.tags }}">{{ message }}</span>
                    {% endfor %}
                {% endif %}
            </h1>
            {% if has_perm('create_workflow') %}
                <div class="control">
                    {{ add_workflow }}
                </div>
            {% endif %}
            <div class="control">
                {{ logout }}
            </div>
            <div class="control">
                <button id="back-to-top" class="button-top">Back to top</button>
            </div>
        </div>
    </div>
    <div class="apps">
        {% for app_label, models in apps.items() %}
            <div class="sticky sticky-2">
                <h2><code class="django">{{ app_label }}</code></h2>
            </div>
            <div class="models">
                {% for model, workflow in models.items() %}
                    <div class="sticky sticky-3">
                        <div>
                            <h3>
                                <code class="workflow">{{ workflow.code }}</code>&emsp;
                                <code class="name">{{ workflow.name }}</code>&emsp;
                                <code class="django">.{{ workflow.content_type.model }}</code>&emsp;
                                <code class="python">{{ model.__name__ }}</code>
                            </h3>
                            {% if has_perm('delete_workflow') and workflow.pk in delete_workflow %}
                                <div class="control sticky-control">
                                    {{ delete_workflow[workflow.pk] }}
                                </div>
                            {% endif %}
                            {% if has_perm('update_workflow') %}
                                <div class="control sticky-control">
                                    {{ edit_workflow[workflow.pk] }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="workflow_permissions">
                        {% for workflow_permission in workflow.workflow_permissions.order_by('historical_permission_content_type_app_label', 'historical_permission_content_type_model_name', 'historical_permission_codename') %}
                            <div class="transition_permission">
                                <code class="permission">{{ workflow_permission.permission.codename }}</code>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="states">
                        {% for state in workflow.states.order_by('code') %}
                            <div class="state">
                                <div>
                                    <h4>
                                        <code class="state">{{ state.code }}</code>&emsp;
                                        <code class="name">{{ state.name }}</code>&emsp;
                                        {% if workflow.pk in state.initial_states.values_list('workflow_id', flat=True) %}
                                            <code class="initial">(initial state)</code>
                                        {% endif %}
                                    </h4>
                                    <div class="control">
                                        {{ edit_state[workflow.pk][state.pk] }}
                                    </div>
                                </div>
                                <div class="state_permissions">
                                    {% for state_permission in state.state_permissions.order_by('historical_permission_content_type_app_label', 'historical_permission_content_type_model_name', 'historical_permission_codename') %}
                                        <div class="state_permission">
                                            <span class="{{ 'grants' if state_permission.grant_or_deny else 'denies' }}">
                                                {{ 'Grants' if state_permission.grant_or_deny else 'Denies' }}
                                            </span>
                                            <code class="permission">{{ state_permission.permission.codename }}</code>
                                            &emsp;for&emsp;
                                            <span class="group">{{ state_permission.group.name }}</span>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="transitions">
                        {% for transition in workflow.transitions.order_by('code') %}
                            <div class="transition">
                                <div>
                                    <h4>
                                        <code class="transition">{{ transition.code }}</code>&emsp;
                                        <code class="name">{{ transition.name }}</code>&emsp;
                                        <code class="state">
                                            ({{ ', '.join(transition.transition_sources.filter(ignored=False).values_list('source__code', flat=True)) }})
                                        </code>
                                        &emsp;to&emsp;
                                        <code class="state">{{ transition.target.code }}</code>
                                        <p>
                                            {% if transition.transition_sources.filter(ignored=True).exists() %}
                                                Ignored when fast transitioned from states:
                                                <code class="state">
                                                    {{ ', '.join(transition.transition_sources.filter(ignored=True).values_list('source__code', flat=True)) }}
                                                </code>
                                            {% endif %}
                                        </p>

                                    </h4>
                                    <div class="control">
                                        {{ edit_transition[workflow.pk][transition.pk] }}
                                    </div>
                                </div>
                                <div class="transition_permissions">
                                    {% for transition_permission in transition.transition_permissions.order_by('historical_permission_content_type_app_label', 'historical_permission_content_type_model_name', 'historical_permission_codename') %}
                                        <div class="transition_permission">
                                            <code class="permission">{{ transition_permission.permission.codename }}</code>
                                        </div>
                                    {% else %}
                                        <div class="transition_permission">
                                            Users won't be able to do this transition unless a transition permission is added.
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>

<script src="/static/forms/forms.js"></script>
</body>
</html>
